
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: "archivo", sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
}
.top-header { 
    background-color: #333333;
}

.nav__personalizada {
    background-color: #dddbe2;
}

#background1 {
    background-color: rgba(41, 39, 34, 0.623);
    color:#dddbe2;
    
}
#background2 {
    background-color: #333333;
    color: #dddbe2;
}
#background3 {
    background-color: #ffffff;
    color: #333333;
}

.text-justify {
    text-align: justify;
}
#carrusel{ 
    width: 48rem;
    margin: 0rem;
}
.text-center {
    text-align: center;
}

#animacion {
   animation-name: un_efecto;
   animation-iteration-count:initial;
   animation-timing-function: ease-in;
   animation-duration: 1s;
   animation-delay: 1s;

}

#bvideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
  