@import "./variables";

@mixin cardtext {
    text-align: left;
    font-size: 1.5rem;
}
.cardtext1 {
@include cardtext;
background-color: $cardtext1;
}
.cardtext2 {
    @include cardtext;
    background-color: $cardtext2;
    }
.cardtext3 {
        @include cardtext;
        background-color: $cardtext3;
        }


